      <section id="shopify-section-template--25556771209594__main" class="shopify-section section"><product-info id="MainProduct-template--25556771209594__main" class="section-template--25556771209594__main-padding gradient color-scheme-1" data-section="template--25556771209594__main" data-product-id="15113031942522" data-update-url="true" data-url="/products/custom">
  <link href="{{ 'section-main-product.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">
  <link href="{{ 'component-accordion.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">
  <link href="{{ 'component-price.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">
  <link href="{{ 'component-slider.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">
  <link href="{{ 'component-rating.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">
  <link href="{{ 'component-deferred-media.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">

  
<style data-shopify="">.section-template--25556771209594__main-padding {
      padding-top: 27px;
      padding-bottom: 9px;
    }

    @media screen and (min-width: 750px) {
      .section-template--25556771209594__main-padding {
        padding-top: 36px;
        padding-bottom: 12px;
      }
    }</style><script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

  <div class="page-width">
    <div class="product product--medium product--left product--thumbnail_slider product--mobile-hide grid grid--1-col grid--2-col-tablet">
      <div class="grid__item product__media-wrapper">
        
<media-gallery id="MediaGallery-template--25556771209594__main" role="region" class="product__column-sticky" aria-label="Gallery Viewer" data-desktop-layout="thumbnail_slider">
  <div id="GalleryStatus-template--25556771209594__main" class="visually-hidden" role="status"></div>
  <slider-component id="GalleryViewer-template--25556771209594__main" class="slider-mobile-gutter">
    <a class="skip-to-content-link button visually-hidden quick-add-hidden" href="#ProductInfo-template--25556771209594__main">
      Skip to product information
    </a>
    <ul id="Slider-Gallery-template--25556771209594__main" class="product__media-list contains-media grid grid--peek list-unstyled slider slider--mobile" role="list">
<li id="Slide-template--25556771209594__main-65964201476474" class="product__media-item grid__item slider__slide is-active scroll-trigger animate--fade-in" data-media-id="template--25556771209594__main-65964201476474">

<div class="product-media-container media-type-image media-fit-contain global-media-settings gradient constrain-height" style="--ratio: 1.0; --preview-ratio: 1.0;">
  <modal-opener class="product__modal-opener product__modal-opener--image" data-modal="#ProductModal-template--25556771209594__main">
    <span class="product__media-icon motion-reduce quick-add-hidden product__media-icon--none" aria-hidden="true">
      
          <span class="svg-wrapper"><svg xmlns="http://www.w3.org/2000/svg" fill="none" class="icon icon-plus" viewBox="0 0 19 19"><path fill="currentColor" fill-rule="evenodd" d="M4.667 7.94a.5.5 0 0 1 .499-.501l5.534-.014a.5.5 0 1 1 .002 1l-5.534.014a.5.5 0 0 1-.5-.5" clip-rule="evenodd"></path><path fill="currentColor" fill-rule="evenodd" d="M7.926 4.665a.5.5 0 0 1 .501.498l.014 5.534a.5.5 0 1 1-1 .003l-.014-5.534a.5.5 0 0 1 .499-.501" clip-rule="evenodd"></path><path fill="currentColor" fill-rule="evenodd" d="M12.832 3.03a6.931 6.931 0 1 0-9.802 9.802 6.931 6.931 0 0 0 9.802-9.802M2.323 2.323a7.931 7.931 0 0 1 11.296 11.136l4.628 4.628a.5.5 0 0 1-.707.707l-4.662-4.662A7.932 7.932 0 0 1 2.323 2.323" clip-rule="evenodd"></path></svg>
</span>
      
    </span>

<div class="loading__spinner hidden">
  <svg xmlns="http://www.w3.org/2000/svg" class="spinner" viewBox="0 0 66 66"><circle stroke-width="6" cx="33" cy="33" r="30" fill="none" class="path"></circle></svg>

</div>
<div class="product__media media media--transparent">
      <img src="{{ 'IMG_3661.jpg' | asset_url }}" alt="" srcset="{{ 'IMG_3661_11.jpg' | asset_url }} 246w, {{ 'IMG_3661_13.jpg' | asset_url }} 493w, {{ 'IMG_3661_9.jpg' | asset_url }} 600w, {{ 'IMG_3661_4.jpg' | asset_url }} 713w, {{ 'IMG_3661_19.jpg' | asset_url }} 823w, {{ 'IMG_3661_3.jpg' | asset_url }} 990w, {{ 'IMG_3661_10.jpg' | asset_url }} 1100w, {{ 'IMG_3661_20.jpg' | asset_url }} 1206w, {{ 'IMG_3661_21.jpg' | asset_url }} 1346w, {{ 'IMG_3661_12.jpg' | asset_url }} 1426w, {{ 'IMG_3661_22.jpg' | asset_url }} 1646w, {{ 'IMG_3661.jpg' | asset_url }} 1946w" width="1946" height="1946" class="image-magnify-none" sizes="(min-width: 1200px) 605px, (min-width: 990px) calc(55.0vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / 1 - 4rem)">
    </div>
    <button class="product__media-toggle quick-add-hidden product__media-zoom-none" type="button" aria-haspopup="dialog" data-media-id="65964201476474">
      <span class="visually-hidden">
        Open media 1 in modal
      </span>
    </button>
  </modal-opener></div>

          </li>
<li id="Slide-template--25556771209594__main-65878185640314" class="product__media-item grid__item slider__slide scroll-trigger animate--fade-in" data-media-id="template--25556771209594__main-65878185640314">

<div class="product-media-container media-type-image media-fit-contain global-media-settings gradient constrain-height" style="--ratio: 1.0; --preview-ratio: 1.0;">
  <modal-opener class="product__modal-opener product__modal-opener--image" data-modal="#ProductModal-template--25556771209594__main">
    <span class="product__media-icon motion-reduce quick-add-hidden product__media-icon--none" aria-hidden="true">
      
          <span class="svg-wrapper"><svg xmlns="http://www.w3.org/2000/svg" fill="none" class="icon icon-plus" viewBox="0 0 19 19"><path fill="currentColor" fill-rule="evenodd" d="M4.667 7.94a.5.5 0 0 1 .499-.501l5.534-.014a.5.5 0 1 1 .002 1l-5.534.014a.5.5 0 0 1-.5-.5" clip-rule="evenodd"></path><path fill="currentColor" fill-rule="evenodd" d="M7.926 4.665a.5.5 0 0 1 .501.498l.014 5.534a.5.5 0 1 1-1 .003l-.014-5.534a.5.5 0 0 1 .499-.501" clip-rule="evenodd"></path><path fill="currentColor" fill-rule="evenodd" d="M12.832 3.03a6.931 6.931 0 1 0-9.802 9.802 6.931 6.931 0 0 0 9.802-9.802M2.323 2.323a7.931 7.931 0 0 1 11.296 11.136l4.628 4.628a.5.5 0 0 1-.707.707l-4.662-4.662A7.932 7.932 0 0 1 2.323 2.323" clip-rule="evenodd"></path></svg>
</span>
      
    </span>

<div class="loading__spinner hidden">
  <svg xmlns="http://www.w3.org/2000/svg" class="spinner" viewBox="0 0 66 66"><circle stroke-width="6" cx="33" cy="33" r="30" fill="none" class="path"></circle></svg>

</div>
<div class="product__media media media--transparent">
      <img src="{{ 'IMG_3521.webp' | asset_url }}" alt="" srcset="{{ 'IMG_3521_15.webp' | asset_url }} 246w, {{ 'IMG_3521_21.webp' | asset_url }} 493w, {{ 'IMG_3521_13.webp' | asset_url }} 600w, {{ 'IMG_3521_7.webp' | asset_url }} 713w, {{ 'IMG_3521_27.webp' | asset_url }} 823w, {{ 'IMG_3521_4.webp' | asset_url }} 990w, {{ 'IMG_3521_6.webp' | asset_url }} 1100w, {{ 'IMG_3521_8.webp' | asset_url }} 1206w, {{ 'IMG_3521_22.webp' | asset_url }} 1346w, {{ 'IMG_3521_23.webp' | asset_url }} 1426w, {{ 'IMG_3521_26.webp' | asset_url }} 1646w, {{ 'IMG_3521.webp' | asset_url }} 1946w" width="1946" height="1946" loading="lazy" class="image-magnify-none" sizes="(min-width: 1200px) 605px, (min-width: 990px) calc(55.0vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / 1 - 4rem)">
    </div>
    <button class="product__media-toggle quick-add-hidden product__media-zoom-none" type="button" aria-haspopup="dialog" data-media-id="65878185640314">
      <span class="visually-hidden">
        Open media 2 in modal
      </span>
    </button>
  </modal-opener></div>

          </li>
<li id="Slide-template--25556771209594__main-65878272541050" class="product__media-item grid__item slider__slide scroll-trigger animate--fade-in" data-media-id="template--25556771209594__main-65878272541050">

<div class="product-media-container media-type-image media-fit-contain global-media-settings gradient constrain-height" style="--ratio: 1.0; --preview-ratio: 1.0;">
  <modal-opener class="product__modal-opener product__modal-opener--image" data-modal="#ProductModal-template--25556771209594__main">
    <span class="product__media-icon motion-reduce quick-add-hidden product__media-icon--none" aria-hidden="true">
      
          <span class="svg-wrapper"><svg xmlns="http://www.w3.org/2000/svg" fill="none" class="icon icon-plus" viewBox="0 0 19 19"><path fill="currentColor" fill-rule="evenodd" d="M4.667 7.94a.5.5 0 0 1 .499-.501l5.534-.014a.5.5 0 1 1 .002 1l-5.534.014a.5.5 0 0 1-.5-.5" clip-rule="evenodd"></path><path fill="currentColor" fill-rule="evenodd" d="M7.926 4.665a.5.5 0 0 1 .501.498l.014 5.534a.5.5 0 1 1-1 .003l-.014-5.534a.5.5 0 0 1 .499-.501" clip-rule="evenodd"></path><path fill="currentColor" fill-rule="evenodd" d="M12.832 3.03a6.931 6.931 0 1 0-9.802 9.802 6.931 6.931 0 0 0 9.802-9.802M2.323 2.323a7.931 7.931 0 0 1 11.296 11.136l4.628 4.628a.5.5 0 0 1-.707.707l-4.662-4.662A7.932 7.932 0 0 1 2.323 2.323" clip-rule="evenodd"></path></svg>
</span>
      
    </span>

<div class="loading__spinner hidden">
  <svg xmlns="http://www.w3.org/2000/svg" class="spinner" viewBox="0 0 66 66"><circle stroke-width="6" cx="33" cy="33" r="30" fill="none" class="path"></circle></svg>

</div>
<div class="product__media media media--transparent">
      <img src="{{ 'IMG_3505.jpg' | asset_url }}" alt="" srcset="{{ 'IMG_3505_9.jpg' | asset_url }} 246w, {{ 'IMG_3505_16.jpg' | asset_url }} 493w, {{ 'IMG_3505_5.jpg' | asset_url }} 600w, {{ 'IMG_3505_14.jpg' | asset_url }} 713w, {{ 'IMG_3505_15.jpg' | asset_url }} 823w, {{ 'IMG_3505_3.jpg' | asset_url }} 990w, {{ 'IMG_3505_17.jpg' | asset_url }} 1100w, {{ 'IMG_3505_7.jpg' | asset_url }} 1206w, {{ 'IMG_3505_20.jpg' | asset_url }} 1346w, {{ 'IMG_3505_19.jpg' | asset_url }} 1426w, {{ 'IMG_3505_18.jpg' | asset_url }} 1646w, {{ 'IMG_3505.jpg' | asset_url }} 1946w" width="1946" height="1946" loading="lazy" class="image-magnify-none" sizes="(min-width: 1200px) 605px, (min-width: 990px) calc(55.0vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / 1 - 4rem)">
    </div>
    <button class="product__media-toggle quick-add-hidden product__media-zoom-none" type="button" aria-haspopup="dialog" data-media-id="65878272541050">
      <span class="visually-hidden">
        Open media 3 in modal
      </span>
    </button>
  </modal-opener></div>

          </li>
<li id="Slide-template--25556771209594__main-65878272409978" class="product__media-item grid__item slider__slide scroll-trigger animate--fade-in" data-media-id="template--25556771209594__main-65878272409978">

<div class="product-media-container media-type-image media-fit-contain global-media-settings gradient constrain-height" style="--ratio: 1.0; --preview-ratio: 1.0;">
  <modal-opener class="product__modal-opener product__modal-opener--image" data-modal="#ProductModal-template--25556771209594__main">
    <span class="product__media-icon motion-reduce quick-add-hidden product__media-icon--none" aria-hidden="true">
      
          <span class="svg-wrapper"><svg xmlns="http://www.w3.org/2000/svg" fill="none" class="icon icon-plus" viewBox="0 0 19 19"><path fill="currentColor" fill-rule="evenodd" d="M4.667 7.94a.5.5 0 0 1 .499-.501l5.534-.014a.5.5 0 1 1 .002 1l-5.534.014a.5.5 0 0 1-.5-.5" clip-rule="evenodd"></path><path fill="currentColor" fill-rule="evenodd" d="M7.926 4.665a.5.5 0 0 1 .501.498l.014 5.534a.5.5 0 1 1-1 .003l-.014-5.534a.5.5 0 0 1 .499-.501" clip-rule="evenodd"></path><path fill="currentColor" fill-rule="evenodd" d="M12.832 3.03a6.931 6.931 0 1 0-9.802 9.802 6.931 6.931 0 0 0 9.802-9.802M2.323 2.323a7.931 7.931 0 0 1 11.296 11.136l4.628 4.628a.5.5 0 0 1-.707.707l-4.662-4.662A7.932 7.932 0 0 1 2.323 2.323" clip-rule="evenodd"></path></svg>
</span>
      
    </span>

<div class="loading__spinner hidden">
  <svg xmlns="http://www.w3.org/2000/svg" class="spinner" viewBox="0 0 66 66"><circle stroke-width="6" cx="33" cy="33" r="30" fill="none" class="path"></circle></svg>

</div>
<div class="product__media media media--transparent">
      <img src="{{ 'IMG_3503.jpg' | asset_url }}" alt="" srcset="{{ 'IMG_3503_9.jpg' | asset_url }} 246w, {{ 'IMG_3503_8.jpg' | asset_url }} 493w, {{ 'IMG_3503_4.jpg' | asset_url }} 600w, {{ 'IMG_3503_5.jpg' | asset_url }} 713w, {{ 'IMG_3503_19.jpg' | asset_url }} 823w, {{ 'IMG_3503_6.jpg' | asset_url }} 990w, {{ 'IMG_3503_15.jpg' | asset_url }} 1100w, {{ 'IMG_3503_20.jpg' | asset_url }} 1206w, {{ 'IMG_3503_12.jpg' | asset_url }} 1346w, {{ 'IMG_3503_17.jpg' | asset_url }} 1426w, {{ 'IMG_3503_14.jpg' | asset_url }} 1646w, {{ 'IMG_3503.jpg' | asset_url }} 1946w" width="1946" height="1946" loading="lazy" class="image-magnify-none" sizes="(min-width: 1200px) 605px, (min-width: 990px) calc(55.0vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / 1 - 4rem)">
    </div>
    <button class="product__media-toggle quick-add-hidden product__media-zoom-none" type="button" aria-haspopup="dialog" data-media-id="65878272409978">
      <span class="visually-hidden">
        Open media 4 in modal
      </span>
    </button>
  </modal-opener></div>

          </li></ul>
    <div class="slider-buttons quick-add-hidden">
      <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="Slide left">
        <span class="svg-wrapper"><svg class="icon icon-caret" viewBox="0 0 10 6"><path fill="currentColor" fill-rule="evenodd" d="M9.354.646a.5.5 0 0 0-.708 0L5 4.293 1.354.646a.5.5 0 0 0-.708.708l4 4a.5.5 0 0 0 .708 0l4-4a.5.5 0 0 0 0-.708" clip-rule="evenodd"></path></svg>
</span>
      </button>
      <div class="slider-counter caption">
        <span class="slider-counter--current">1</span>
        <span aria-hidden="true"> / </span>
        <span class="visually-hidden">of</span>
        <span class="slider-counter--total">4</span>
      </div>
      <button type="button" class="slider-button slider-button--next" name="next" aria-label="Slide right">
        <span class="svg-wrapper"><svg class="icon icon-caret" viewBox="0 0 10 6"><path fill="currentColor" fill-rule="evenodd" d="M9.354.646a.5.5 0 0 0-.708 0L5 4.293 1.354.646a.5.5 0 0 0-.708.708l4 4a.5.5 0 0 0 .708 0l4-4a.5.5 0 0 0 0-.708" clip-rule="evenodd"></path></svg>
</span>
      </button>
    </div>
  </slider-component><slider-component id="GalleryThumbnails-template--25556771209594__main" class="thumbnail-slider slider-mobile-gutter quick-add-hidden small-hide">
      <button type="button" class="slider-button slider-button--prev medium-hide large-up-hide" name="previous" aria-label="Slide left" aria-controls="GalleryThumbnails-template--25556771209594__main" data-step="3">
        <span class="svg-wrapper"><svg class="icon icon-caret" viewBox="0 0 10 6"><path fill="currentColor" fill-rule="evenodd" d="M9.354.646a.5.5 0 0 0-.708 0L5 4.293 1.354.646a.5.5 0 0 0-.708.708l4 4a.5.5 0 0 0 .708 0l4-4a.5.5 0 0 0 0-.708" clip-rule="evenodd"></path></svg>
</span>
      </button>
      <ul id="Slider-Thumbnails-template--25556771209594__main" class="thumbnail-list list-unstyled slider slider--mobile slider--tablet-up"><li id="Slide-Thumbnails-template--25556771209594__main-1" class="thumbnail-list__item slider__slide" data-target="template--25556771209594__main-65964201476474" data-media-position="1"><button class="thumbnail global-media-settings global-media-settings--no-shadow" aria-label="Load image 1 in gallery view" aria-current="true" aria-controls="GalleryViewer-template--25556771209594__main" aria-describedby="Thumbnail-template--25556771209594__main-1
">
                <img src="{{ 'IMG_3661_1.jpg' | asset_url }}" alt="Custom Led Door Lights (2pcs)" srcset="{{ 'IMG_3661_8.jpg' | asset_url }} 54w, {{ 'IMG_3661_15.jpg' | asset_url }} 74w, {{ 'IMG_3661_14.jpg' | asset_url }} 104w, {{ 'IMG_3661_16.jpg' | asset_url }} 162w, {{ 'IMG_3661_5.jpg' | asset_url }} 208w, {{ 'IMG_3661_7.jpg' | asset_url }} 324w, {{ 'IMG_3661_1.jpg' | asset_url }} 416w" width="416" height="416" loading="lazy" sizes="(min-width: 1200px) calc((605 - 4rem) / 4),
          (min-width: 990px) calc((55.0vw - 4rem) / 4),
          (min-width: 750px) calc((100vw - 15rem) / 8),
          calc((100vw - 8rem) / 3)" id="Thumbnail-template--25556771209594__main-1
">
              </button>
            </li><li id="Slide-Thumbnails-template--25556771209594__main-2" class="thumbnail-list__item slider__slide" data-target="template--25556771209594__main-65878185640314" data-media-position="2"><button class="thumbnail global-media-settings global-media-settings--no-shadow" aria-label="Load image 2 in gallery view" aria-controls="GalleryViewer-template--25556771209594__main" aria-describedby="Thumbnail-template--25556771209594__main-2
">
                <img src="{{ 'IMG_3521_2.webp' | asset_url }}" alt="Custom Led Door Lights (2pcs)" srcset="{{ 'IMG_3521_14.webp' | asset_url }} 54w, {{ 'IMG_3521_18.webp' | asset_url }} 74w, {{ 'IMG_3521_17.webp' | asset_url }} 104w, {{ 'IMG_3521_20.webp' | asset_url }} 162w, {{ 'IMG_3521_19.webp' | asset_url }} 208w, {{ 'IMG_3521_5.webp' | asset_url }} 324w, {{ 'IMG_3521_2.webp' | asset_url }} 416w" width="416" height="416" loading="lazy" sizes="(min-width: 1200px) calc((605 - 4rem) / 4),
          (min-width: 990px) calc((55.0vw - 4rem) / 4),
          (min-width: 750px) calc((100vw - 15rem) / 8),
          calc((100vw - 8rem) / 3)" id="Thumbnail-template--25556771209594__main-2
">
              </button>
            </li><li id="Slide-Thumbnails-template--25556771209594__main-3" class="thumbnail-list__item slider__slide" data-target="template--25556771209594__main-65878272541050" data-media-position="3"><button class="thumbnail global-media-settings global-media-settings--no-shadow" aria-label="Load image 3 in gallery view" aria-controls="GalleryViewer-template--25556771209594__main" aria-describedby="Thumbnail-template--25556771209594__main-3
">
                <img src="{{ 'IMG_3505_1.jpg' | asset_url }}" alt="Custom Led Door Lights (2pcs)" srcset="{{ 'IMG_3505_12.jpg' | asset_url }} 54w, {{ 'IMG_3505_8.jpg' | asset_url }} 74w, {{ 'IMG_3505_10.jpg' | asset_url }} 104w, {{ 'IMG_3505_13.jpg' | asset_url }} 162w, {{ 'IMG_3505_6.jpg' | asset_url }} 208w, {{ 'IMG_3505_4.jpg' | asset_url }} 324w, {{ 'IMG_3505_1.jpg' | asset_url }} 416w" width="416" height="416" loading="lazy" sizes="(min-width: 1200px) calc((605 - 4rem) / 4),
          (min-width: 990px) calc((55.0vw - 4rem) / 4),
          (min-width: 750px) calc((100vw - 15rem) / 8),
          calc((100vw - 8rem) / 3)" id="Thumbnail-template--25556771209594__main-3
">
              </button>
            </li><li id="Slide-Thumbnails-template--25556771209594__main-4" class="thumbnail-list__item slider__slide" data-target="template--25556771209594__main-65878272409978" data-media-position="4"><button class="thumbnail global-media-settings global-media-settings--no-shadow" aria-label="Load image 4 in gallery view" aria-controls="GalleryViewer-template--25556771209594__main" aria-describedby="Thumbnail-template--25556771209594__main-4
">
                <img src="{{ 'IMG_3503_1.jpg' | asset_url }}" alt="Custom Led Door Lights (2pcs)" srcset="{{ 'IMG_3503_7.jpg' | asset_url }} 54w, {{ 'IMG_3503_21.jpg' | asset_url }} 74w, {{ 'IMG_3503_11.jpg' | asset_url }} 104w, {{ 'IMG_3503_10.jpg' | asset_url }} 162w, {{ 'IMG_3503_13.jpg' | asset_url }} 208w, {{ 'IMG_3503_3.jpg' | asset_url }} 324w, {{ 'IMG_3503_1.jpg' | asset_url }} 416w" width="416" height="416" loading="lazy" sizes="(min-width: 1200px) calc((605 - 4rem) / 4),
          (min-width: 990px) calc((55.0vw - 4rem) / 4),
          (min-width: 750px) calc((100vw - 15rem) / 8),
          calc((100vw - 8rem) / 3)" id="Thumbnail-template--25556771209594__main-4
">
              </button>
            </li></ul>
      <button type="button" class="slider-button slider-button--next medium-hide large-up-hide" name="next" aria-label="Slide right" aria-controls="GalleryThumbnails-template--25556771209594__main" data-step="3">
        <span class="svg-wrapper"><svg class="icon icon-caret" viewBox="0 0 10 6"><path fill="currentColor" fill-rule="evenodd" d="M9.354.646a.5.5 0 0 0-.708 0L5 4.293 1.354.646a.5.5 0 0 0-.708.708l4 4a.5.5 0 0 0 .708 0l4-4a.5.5 0 0 0 0-.708" clip-rule="evenodd"></path></svg>
</span>
      </button>
    </slider-component></media-gallery>

      </div>
      <div class="product__info-wrapper grid__item scroll-trigger animate--slide-in">
        <section id="ProductInfo-template--25556771209594__main" class="product__info-container product__column-sticky"><div class="product__title">
                  <h1>Custom Led Door Lights (2pcs)</h1>
                  <a href="/products/custom" class="product__title">
                    <h2 class="h1">
                      Custom Led Door Lights (2pcs)
                    </h2>
                  </a>
                </div><div id="shopify-block-AWkZWZy9SdG01WlBwa__judge_me_reviews_preview_badge_JmFyNQ" class="shopify-block shopify-app-block">
<div class="jdgm-widget jdgm-preview-badge" data-id="15113031942522" data-template="manual-installation">
  <div style="display:none" class="jdgm-prev-badge" data-average-rating="4.85" data-number-of-reviews="117" data-number-of-questions="0"> <span class="jdgm-prev-badge__stars" data-score="4.85" tabindex="0" aria-label="4.85 stars" role="button"> <span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span> </span> <span class="jdgm-prev-badge__text"> 117 reviews </span> </div>
</div>




</div>
<div id="price-template--25556771209594__main" role="status">
<div class="
      price price--large price--on-sale price--show-badge">
    <div class="price__container"><div class="price__regular"><span class="visually-hidden visually-hidden--inline">Regular price</span>
          <span class="price-item price-item--regular">
            42,95 EUR
          </span></div>
      <div class="price__sale">
          <span class="visually-hidden visually-hidden--inline">Regular price</span>
          <span>
            <s class="price-item price-item--regular">
              
                61,95 EUR
              
            </s>
          </span><span class="visually-hidden visually-hidden--inline">Sale price</span>
        <span class="price-item price-item--sale price-item--last">
          42,95 EUR
        </span>
      </div>
      <small class="unit-price caption hidden">
        <span class="visually-hidden">Unit price</span>
        <span class="price-item price-item--last">
          <span></span>
          <span aria-hidden="true">/</span>
          <span class="visually-hidden">per</span>
          <span>
          </span>
        </span>
      </small>
    </div><span class="badge price__badge-sale color-scheme-4">
        Sale
      </span>

      <span class="badge price__badge-sold-out color-scheme-4">
        Sold out
      </span></div>

</div><div class="product__tax caption rte">
</div><div><form method="post" action="/cart/add" id="product-form-installment-template--25556771209594__main" accept-charset="UTF-8" class="installment caption-large" enctype="multipart/form-data"><input type="hidden" name="form_type" value="product"><input type="hidden" name="utf8" value=""><input type="hidden" name="id" value="55411226673530">
                    
<input type="hidden" name="product-id" value="15113031942522"><input type="hidden" name="section-id" value="template--25556771209594__main"></form></div>

<div class="refresh-benefits">
    <ul>
        <li> Stay protected</li>
        <li> Custom verse display</li>
        <li> Easy to set up</li>
    </ul>
</div>


<style>
.refresh-benefits {
padding-top: 3px;
}
.refresh-benefits ul {
    text-align: left;
    list-style: none;
    margin: 0;
    text-align: left;
    padding: 0;
}
.refresh-benefits ul li {
    margin-bottom: 7px;
}


</style>


<div id="shopify-block-AZ2diYmU3NGdJczJKZ__textbox_by_textify_app_block_xgiLyR" class="shopify-block shopify-app-block"><div id="tb_data_div" style="display: none !important;" data-tb-variants-json="[{'id':55411226673530,'title':'default=','option1':'default=','option2':null,'option3':null,'sku':'','requires_shipping':true,'taxable':true,'featured_image':null,'available':true,'name':'custom=','public_title':null,'options':['default='],'price':4295,'weight':0,'compare_at_price':6195,'inventory_management':null,'barcode':'','requires_selling_plan':false,'selling_plan_allocations':[]}]" data-tb-prodid-json="15113031942522" data-tb-prodtitle-json="" custom="" (2pcs)""="" data-tb-options-json="[{'name':'title','position':1,'values':['default=']}]" data-tb-product-data-json="{'id':15113031942522,'title':'custom= (2pcs)','handle':'custom','description':'\u003cp\u003e*set= of= 2pcs= (front= doors)\u003c\= p\u003e','published_at':'2025-05-22t00:48:06+01:00','created_at':'2025-05-22t00:34:23+01:00','vendor':'holy= drive','type':'','tags':[],'price':4295,'price_min':4295,'price_max':4295,'available':true,'price_varies':false,'compare_at_price':6195,'compare_at_price_min':6195,'compare_at_price_max':6195,'compare_at_price_varies':false,'variants':[{'id':55411226673530,'title':'default='}],'price':4295,'weight':0,'compare_at_price':6195,'inventory_management':null,'barcode':'','requires_selling_plan':false,'selling_plan_allocations':[]}],'images':['\= \= www.myholydrive.com\= cdn\= shop\= files\= img_3661.jpg?v='1747870426' ,'\= img_3521.webp?v='1747866566','\/\/www.myholydrive.com\/cdn\/shop\/files\/IMG_3505.jpg?v=1747866566','\/\/www.myholydrive.com\/cdn\/shop\/files\/IMG_3503.jpg?v=1747866566'],'featured_image':'\/\/www.myholydrive.com\/cdn\/shop\/files\/IMG_3661.jpg?v=1747870426','options':['Title'],'media':[{'alt':null,'id':65964201476474,'position':1,'preview_image':{'aspect_ratio':1.0,'height':4096,'width':4096,'src':'\/\/www.myholydrive.com\/cdn\/shop\/files\/IMG_3661.jpg?v=1747870426'},'aspect_ratio':1.0,'height':4096,'media_type':'image','src':'\/\/www.myholydrive.com\/cdn\/shop\/files\/IMG_3661.jpg?v=1747870426','width':4096},{'alt':null,'id':65878185640314,'position':2,'preview_image':{'aspect_ratio':1.0,'height':720,'width':720,'src':'\/\/www.myholydrive.com\/cdn\/shop\/files\/IMG_3521.webp?v=1747866566'},'aspect_ratio':1.0,'height':720,'media_type':'image','src':'\/\/www.myholydrive.com\/cdn\/shop\/files\/IMG_3521.webp?v=1747866566','width':720},{'alt':null,'id':65878272541050,'position':3,'preview_image':{'aspect_ratio':1.0,'height':1169,'width':1169,'src':'\/\/www.myholydrive.com\/cdn\/shop\/files\/IMG_3505.jpg?v=1747866566'},'aspect_ratio':1.0,'height':1169,'media_type':'image','src':'\/\/www.myholydrive.com\/cdn\/shop\/files\/IMG_3505.jpg?v=1747866566','width':1169},{'alt':null,'id':65878272409978,'position':4,'preview_image':{'aspect_ratio':1.0,'height':1170,'width':1170,'src':'\/\/www.myholydrive.com\/cdn\/shop\/files\/IMG_3503.jpg?v=1747866566'},'aspect_ratio':1.0,'height':1170,'media_type':'image','src':'\/\/www.myholydrive.com\/cdn\/shop\/files\/IMG_3503.jpg?v=1747866566','width':1170}],'requires_selling_plan':false,'selling_plan_groups':[],'content':'\u003cp\u003e*Set' p\u003e'}' data-tb-collection-data-json='[]'></div>

  <div data-tb-product-id="15113031942522" data-tb_storename="https://www.myholydrive.com" id="textfieldapp"></div></div>
<div id="Quantity-Form-template--25556771209594__main" class="product-form__input product-form__quantity">
                  
                  

                  <label class="quantity__label form__label" for="Quantity-template--25556771209594__main">
                    Quantity
                    <span class="quantity__rules-cart hidden">

<div class="loading__spinner hidden">
  <svg xmlns="http://www.w3.org/2000/svg" class="spinner" viewBox="0 0 66 66"><circle stroke-width="6" cx="33" cy="33" r="30" fill="none" class="path"></circle></svg>

</div>
<span>(<span class="quantity-cart">0</span> in cart)</span>
                    </span>
                  </label>
                  <div class="price-per-item__container">
                    <quantity-input class="quantity" data-url="/products/custom" data-section="template--25556771209594__main">
                      <button class="quantity__button" name="minus" type="button">
                        <span class="visually-hidden">Decrease quantity for Custom Led Door Lights (2pcs)</span>
                        <span class="svg-wrapper"><svg xmlns="http://www.w3.org/2000/svg" fill="none" class="icon icon-minus" viewBox="0 0 10 2"><path fill="currentColor" fill-rule="evenodd" d="M.5 1C.5.7.7.5 1 .5h8a.5.5 0 1 1 0 1H1A.5.5 0 0 1 .5 1" clip-rule="evenodd"></path></svg>
</span>
                      </button>
                      <input class="quantity__input" type="number" name="quantity" id="Quantity-template--25556771209594__main" data-cart-quantity="0" data-min="1" min="1" step="1" value="1" form="product-form-template--25556771209594__main">
                      <button class="quantity__button" name="plus" type="button">
                        <span class="visually-hidden">Increase quantity for Custom Led Door Lights (2pcs)</span>
                        <span class="svg-wrapper"><svg xmlns="http://www.w3.org/2000/svg" fill="none" class="icon icon-plus" viewBox="0 0 10 10"><path fill="currentColor" fill-rule="evenodd" d="M1 4.51a.5.5 0 0 0 0 1h3.5l.01 3.5a.5.5 0 0 0 1-.01V5.5l3.5-.01a.5.5 0 0 0-.01-1H5.5L5.49.99a.5.5 0 0 0-1 .01v3.5l-3.5.01z" clip-rule="evenodd"></path></svg>
</span>
                      </button>
                    </quantity-input></div>
                  <div class="quantity__rules caption" id="Quantity-Rules-template--25556771209594__main"></div></div>
<div><product-form class="product-form" data-hide-errors="false" data-section-id="template--25556771209594__main">
      <div class="product-form__error-message-wrapper" role="alert" hidden="">
        <span class="svg-wrapper"><svg class="icon icon-error" viewBox="0 0 13 13"><circle cx="6.5" cy="6.5" r="5.5" stroke="#fff" stroke-width="2"></circle><circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width=".7"></circle><path fill="#fff" d="m5.874 3.528.1 4.044h1.053l.1-4.044zm.627 6.133c.38 0 .68-.288.68-.656s-.3-.656-.68-.656-.681.288-.681.656.3.656.68.656"></path><path fill="#fff" stroke="#EB001B" stroke-width=".7" d="M5.874 3.178h-.359l.01.359.1 4.044.008.341h1.736l.008-.341.1-4.044.01-.359H5.873Zm.627 6.833c.56 0 1.03-.432 1.03-1.006s-.47-1.006-1.03-1.006-1.031.432-1.031 1.006.47 1.006 1.03 1.006Z"></path></svg>
</span>
        <span class="product-form__error-message"></span>
      </div><form method="post" action="/cart/add" id="product-form-template--25556771209594__main" accept-charset="UTF-8" class="form" enctype="multipart/form-data" novalidate="novalidate" data-type="add-to-cart-form"><input type="hidden" name="form_type" value="product"><input type="hidden" name="utf8" value=""><input type="hidden" name="id" value="55411226673530" class="product-variant-id"><div class="product-form__buttons"><button id="ProductSubmitButton-template--25556771209594__main" type="submit" name="add" class="product-form__submit button button--full-width button--primary">
            <span>Add to cart
</span>

<div class="loading__spinner hidden">
  <svg xmlns="http://www.w3.org/2000/svg" class="spinner" viewBox="0 0 66 66"><circle stroke-width="6" cx="33" cy="33" r="30" fill="none" class="path"></circle></svg>

</div>
</button></div><input type="hidden" name="product-id" value="15113031942522"><input type="hidden" name="section-id" value="template--25556771209594__main"></form></product-form><link href="{{ 'component-pickup-availability.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">
<pickup-availability class="product__pickup-availabilities quick-add-hidden" data-root-url="/" data-variant-id="55411226673530" data-has-only-default-variant="true" data-product-page-color-scheme="gradient color-scheme-1">
      <template>
        <pickup-availability-preview class="pickup-availability-preview">
          <span class="svg-wrapper"><svg xmlns="http://www.w3.org/2000/svg" fill="none" class="icon icon-unavailable" viewBox="0 0 20 20"><path fill="#DE3618" stroke="#fff" d="M13.94 3.94 10 7.878l-3.94-3.94A1.499 1.499 0 1 0 3.94 6.06L7.88 10l-3.94 3.94a1.499 1.499 0 1 0 2.12 2.12L10 12.12l3.94 3.94a1.497 1.497 0 0 0 2.12 0 1.5 1.5 0 0 0 0-2.12L12.122 10l3.94-3.94a1.499 1.499 0 1 0-2.121-2.12z"></path></svg>
</span>
          <div class="pickup-availability-info">
            <p class="caption-large">Couldn't load pickup availability</p>
            <button class="pickup-availability-button link link--text underlined-link">
              Refresh
            </button>
          </div>
        </pickup-availability-preview>
      </template>
    </pickup-availability>

    <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script></div>









    
<div class="refresh-featuredReview">
    

    <div class="content">
        <div class="stars">

            
            <span class="star"></span>
            
            <span class="star"></span>
            
            <span class="star"></span>
            
            <span class="star"></span>
            
            <span class="star"></span>
                            
            
        </div>

        <div class="review">
            "I absolutely love it! It gives my car a faithful and unique style that really stands out. Installation was super easy thanks to the magnetic band, no hassle at all. Plus, it has a built-in battery, so no messy wires needed. Totally recommend!"
        </div>

        <div class="author">
            <span class="verified"></span>
            

LISA A.


        </div>
    </div>
</div>

<style>
    .refresh-featuredReview {
        display: flex;
        align-items: center;
        margin-bottom: -10px;
        gap: 20px;
    }

    .refresh-featuredReview .reviewImg {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
    }

    .refresh-featuredReview .content {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .refresh-featuredReview .content .stars {
        display: flex;
        gap: 2px;
    }    

    .refresh-featuredReview .content .star {
        width: 13px;
        height: 13px;
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='800px' height='800px' viewBox='0 0 64 64' enable-background='new 0 0 64 64' xml:space='preserve'%3E%3Cpath fill='%23000000' d='M62.799,23.737c-0.47-1.399-1.681-2.419-3.139-2.642l-16.969-2.593L35.069,2.265 C34.419,0.881,33.03,0,31.504,0c-1.527,0-2.915,0.881-3.565,2.265l-7.623,16.238L3.347,21.096c-1.458,0.223-2.669,1.242-3.138,2.642 c-0.469,1.4-0.115,2.942,0.916,4l12.392,12.707l-2.935,17.977c-0.242,1.488,0.389,2.984,1.62,3.854 c1.23,0.87,2.854,0.958,4.177,0.228l15.126-8.365l15.126,8.365c0.597,0.33,1.254,0.492,1.908,0.492c0.796,0,1.592-0.242,2.269-0.72 c1.231-0.869,1.861-2.365,1.619-3.854l-2.935-17.977l12.393-12.707C62.914,26.68,63.268,25.138,62.799,23.737z'/%3E%3C/svg%3E");
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .refresh-featuredReview .content .review {
        font-size: 1.3rem;
        letter-spacing: 0;
        line-height: 18px;
        text-align: left;
    }       

    .refresh-featuredReview .content .author {
        display: flex;
        gap: 5px;
        align-items: center;
        font-size: 1.3rem;
        font-weight: 600;
        font-style: italic;
    }

    .refresh-featuredReview .content .author .verified {
        width: 16px;
        height: 16px;
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.5924 3.20027C9.34888 3.4078 9.22711 3.51158 9.09706 3.59874C8.79896 3.79854 8.46417 3.93721 8.1121 4.00672C7.95851 4.03705 7.79903 4.04977 7.48008 4.07522C6.6787 4.13918 6.278 4.17115 5.94371 4.28923C5.17051 4.56233 4.56233 5.17051 4.28923 5.94371C4.17115 6.278 4.13918 6.6787 4.07522 7.48008C4.04977 7.79903 4.03705 7.95851 4.00672 8.1121C3.93721 8.46417 3.79854 8.79896 3.59874 9.09706C3.51158 9.22711 3.40781 9.34887 3.20027 9.5924C2.67883 10.2043 2.4181 10.5102 2.26522 10.8301C1.91159 11.57 1.91159 12.43 2.26522 13.1699C2.41811 13.4898 2.67883 13.7957 3.20027 14.4076C3.40778 14.6511 3.51158 14.7729 3.59874 14.9029C3.79854 15.201 3.93721 15.5358 4.00672 15.8879C4.03705 16.0415 4.04977 16.201 4.07522 16.5199C4.13918 17.3213 4.17115 17.722 4.28923 18.0563C4.56233 18.8295 5.17051 19.4377 5.94371 19.7108C6.278 19.8288 6.6787 19.8608 7.48008 19.9248C7.79903 19.9502 7.95851 19.963 8.1121 19.9933C8.46417 20.0628 8.79896 20.2015 9.09706 20.4013C9.22711 20.4884 9.34887 20.5922 9.5924 20.7997C10.2043 21.3212 10.5102 21.5819 10.8301 21.7348C11.57 22.0884 12.43 22.0884 13.1699 21.7348C13.4898 21.5819 13.7957 21.3212 14.4076 20.7997C14.6511 20.5922 14.7729 20.4884 14.9029 20.4013C15.201 20.2015 15.5358 20.0628 15.8879 19.9933C16.0415 19.963 16.201 19.9502 16.5199 19.9248C17.3213 19.8608 17.722 19.8288 18.0563 19.7108C18.8295 19.4377 19.4377 18.8295 19.7108 18.0563C19.8288 17.722 19.8608 17.3213 19.9248 16.5199C19.9502 16.201 19.963 16.0415 19.9933 15.8879C20.0628 15.5358 20.2015 15.201 20.4013 14.9029C20.4884 14.7729 20.5922 14.6511 20.7997 14.4076C21.3212 13.7957 21.5819 13.4898 21.7348 13.1699C22.0884 12.43 22.0884 11.57 21.7348 10.8301C21.5819 10.5102 21.3212 10.2043 20.7997 9.5924C20.5922 9.34887 20.4884 9.22711 20.4013 9.09706C20.2015 8.79896 20.0628 8.46417 19.9933 8.1121C19.963 7.95851 19.9502 7.79903 19.9248 7.48008C19.8608 6.6787 19.8288 6.278 19.7108 5.94371C19.4377 5.17051 18.8295 4.56233 18.0563 4.28923C17.722 4.17115 17.3213 4.13918 16.5199 4.07522C16.201 4.04977 16.0415 4.03705 15.8879 4.00672C15.5358 3.93721 15.201 3.79854 14.9029 3.59874C14.7729 3.51158 14.6511 3.40781 14.4076 3.20027C13.7957 2.67883 13.4898 2.41811 13.1699 2.26522C12.43 1.91159 11.57 1.91159 10.8301 2.26522C10.5102 2.4181 10.2043 2.67883 9.5924 3.20027ZM16.3735 9.86314C16.6913 9.5453 16.6913 9.03 16.3735 8.71216C16.0557 8.39433 15.5403 8.39433 15.2225 8.71216L10.3723 13.5624L8.77746 11.9676C8.45963 11.6498 7.94432 11.6498 7.62649 11.9676C7.30866 12.2854 7.30866 12.8007 7.62649 13.1186L9.79678 15.2889C10.1146 15.6067 10.6299 15.6067 10.9478 15.2889L16.3735 9.86314Z' fill='%232C95E9'/%3E%3C/svg%3E");
        background-size: cover;
        background-repeat: no-repeat;        
    } 

    @media only screen and (max-width: 290px) {
        .refresh-featuredReview {
            flex-direction: column;
        }
        .refresh-featuredReview .content .stars, .refresh-featuredReview .content .author {
            justify-content: center;
        }
        .refresh-featuredReview .content .review {
            text-align: center;
        }
    }     
</style>
<div id="shopify-block-AeWVBS2hLVVlpYXFaN__profy_banner_countdown_timer_app_block_txFkVM" class="shopify-block shopify-app-block">

<div class="profy-inpage-banner" id="profy-f15a0db4-34d1-11f0-857c-b60e09eff1ad-container">
</div>

</div>
<div class="product__accordion accordion quick-add-hidden">
                  <details id="Details-collapsible_tab_Fx6Rme-template--25556771209594__main">
                    <summary>
                      <div class="summary__title">
                        <span class="svg-wrapper"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-accordion icon-question-mark" viewBox="0 0 20 20"><path d="M9.563 11.959a.367.367 0 0 1-.367-.367v-.127c-.003-.49.084-.91.316-1.303.227-.384.575-.715 1.04-1.063.415-.311.666-.566.817-.81a1.43 1.43 0 0 0 .208-.795v-.013c0-.894-.657-1.531-1.568-1.531-.862 0-1.527.606-1.612 1.609a.37.37 0 0 1-.097.219l-.006.006a.37.37 0 0 1-.264.117l-.471.007a.367.367 0 0 1-.362-.453c.112-1.519 1.219-2.712 2.825-2.712 1.603 0 2.791 1.176 2.791 2.718v.013c0 .512-.114.965-.366 1.387-.248.416-.619.783-1.101 1.145l-.003.002c-.414.305-.637.526-.764.738-.12.2-.172.422-.172.771v.075a.367.367 0 0 1-.367.367zm1.142 2.423c0 .473-.335.88-.838.88-.497 0-.845-.4-.845-.88 0-.477.351-.874.845-.874.5 0 .838.403.838.874"></path><path d="M18.5 10a8.5 8.5 0 1 1-17 0 8.5 8.5 0 0 1 17 0M10 17.497a7.497 7.497 0 1 0 0-14.994 7.497 7.497 0 0 0 0 14.994"></path></svg>
</span>
                        <h2 class="h4 accordion__title inline-richtext">
                          How It Works
                        </h2>
                      </div><svg class="icon icon-caret" viewBox="0 0 10 6"><path fill="currentColor" fill-rule="evenodd" d="M9.354.646a.5.5 0 0 0-.708 0L5 4.293 1.354.646a.5.5 0 0 0-.708.708l4 4a.5.5 0 0 0 .708 0l4-4a.5.5 0 0 0 0-.708" clip-rule="evenodd"></path></svg>
</summary>
                    <div class="accordion__content rte" id="ProductAccordion-collapsible_tab_Fx6Rme-template--25556771209594__main">
                      <p>Just<strong>hold the power button once</strong>to turn it on, and<strong>press the same button</strong>to cycle through different colors and lighting modes until you find the perfect vibe.</p><p>Once installed, the<strong>built-in induction sensor</strong>does the rest  the light<strong>automatically turns on when you open your car door</strong>and<strong>shuts off when you close it</strong>, saving power without you lifting a finger. It <strong>wont turn on when exposed to strong sunlight</strong>, making it even more efficient. Its simple, smart, and made to glow when you do.</p><p><br>It <strong>charges via USB</strong>, making it simple and convenient to power up anywhere</p>
                      
                    </div>
                  </details>
                </div><div class="product__accordion accordion quick-add-hidden">
                  <details id="Details-collapsible_tab_dFUcBU-template--25556771209594__main">
                    <summary>
                      <div class="summary__title">
                        <span class="svg-wrapper"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-accordion icon-heart" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M10 5.24 8.515 3.773a4.433 4.433 0 0 0-6.21 0 4.293 4.293 0 0 0 0 6.128L10 17.495l7.695-7.593a4.293 4.293 0 0 0 0-6.128 4.433 4.433 0 0 0-6.21 0zm.765-2.177c2.113-2.084 5.538-2.084 7.65 0a5.29 5.29 0 0 1 0 7.55l-7.695 7.593a1.03 1.03 0 0 1-1.44 0l-7.696-7.594a5.29 5.29 0 0 1 0-7.549C3.697.98 7.122.98 9.234 3.063l.766.755z"></path></svg>
</span>
                        <h2 class="h4 accordion__title inline-richtext">
                          Our Guarantee
                        </h2>
                      </div><svg class="icon icon-caret" viewBox="0 0 10 6"><path fill="currentColor" fill-rule="evenodd" d="M9.354.646a.5.5 0 0 0-.708 0L5 4.293 1.354.646a.5.5 0 0 0-.708.708l4 4a.5.5 0 0 0 .708 0l4-4a.5.5 0 0 0 0-.708" clip-rule="evenodd"></path></svg>
</summary>
                    <div class="accordion__content rte" id="ProductAccordion-collapsible_tab_dFUcBU-template--25556771209594__main">
                      <p>If the product arrives damaged, doesn't work properly, or isn't what you ordered, you can return it within 15 days and we'll give you a full refund</p>
                      
                    </div>
                  </details>
                </div><div class="product__accordion accordion quick-add-hidden">
                  <details id="Details-collapsible_tab_MRcaaF-template--25556771209594__main">
                    <summary>
                      <div class="summary__title">
                        <span class="svg-wrapper"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-accordion icon-truck" viewBox="0 0 20 20"><path d="M0 3.752c0-.277.224-.502.5-.502h10.147a.5.5 0 0 1 .5.502v9.91l-.595 1.003H7.223V13.66h2.923V4.253H1.002v9.408h1.682v1.004H.501A.5.5 0 0 1 0 14.163zm18.999 4.332-7.851-1.975V5.075l8.473 2.131a.5.5 0 0 1 .379.487v6.47a.5.5 0 0 1-.5.502h-2.193v-1.003H19zm-7.851 5.578h2.196v1.003h-2.792z"></path><path d="M7.713 14.185a2.56 2.56 0 0 1-2.56 2.565 2.56 2.56 0 0 1-2.56-2.565 2.56 2.56 0 0 1 2.56-2.564 2.56 2.56 0 0 1 2.56 2.564m-2.56 1.562a1.56 1.56 0 0 0 1.558-1.562 1.56 1.56 0 0 0-1.559-1.56 1.56 1.56 0 0 0-1.558 1.56 1.56 1.56 0 0 0 1.558 1.562m12.368-1.562a2.56 2.56 0 0 1-2.56 2.565 2.56 2.56 0 0 1-2.56-2.565 2.56 2.56 0 0 1 2.56-2.564 2.56 2.56 0 0 1 2.56 2.564m-2.56 1.562a1.56 1.56 0 0 0 1.558-1.562 1.56 1.56 0 0 0-1.559-1.56 1.56 1.56 0 0 0-1.558 1.56 1.56 1.56 0 0 0 1.558 1.562"></path></svg>
</span>
                        <h2 class="h4 accordion__title inline-richtext">
                          Shipping
                        </h2>
                      </div><svg class="icon icon-caret" viewBox="0 0 10 6"><path fill="currentColor" fill-rule="evenodd" d="M9.354.646a.5.5 0 0 0-.708 0L5 4.293 1.354.646a.5.5 0 0 0-.708.708l4 4a.5.5 0 0 0 .708 0l4-4a.5.5 0 0 0 0-.708" clip-rule="evenodd"></path></svg>
</summary>
                    <div class="accordion__content rte" id="ProductAccordion-collapsible_tab_MRcaaF-template--25556771209594__main">
                      <p>We offer fast and reliable shipping on all orders. You can expect to receive it within <strong>7-15 business days</strong> based on your location.</p><p>Please contact our customer service team for assistance if you have any questions or concerns about your shipment.</p>
                      
                    </div>
                  </details>
                </div><a href="/products/custom" class="link product__view-details animate-arrow">
            View full details
<svg xmlns="http://www.w3.org/2000/svg" fill="none" class="icon icon-arrow" viewBox="0 0 14 10"><path fill="currentColor" fill-rule="evenodd" d="M8.537.808a.5.5 0 0 1 .817-.162l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 1 1-.708-.708L11.793 5.5H1a.5.5 0 0 1 0-1h10.793L8.646 1.354a.5.5 0 0 1-.109-.546" clip-rule="evenodd"></path></svg>
</a>
        </section>
      </div>
    </div>

    

<product-modal id="ProductModal-template--25556771209594__main" class="product-media-modal media-modal">
  <div class="product-media-modal__dialog color-scheme-1 gradient" role="dialog" aria-label="Media gallery" aria-modal="true" tabindex="-1">
    <button id="ModalClose-template--25556771209594__main" type="button" class="product-media-modal__toggle" aria-label="Close">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="icon icon-close" viewBox="0 0 18 17"><path fill="currentColor" d="M.865 15.978a.5.5 0 0 0 .707.707l7.433-7.431 7.579 7.282a.501.501 0 0 0 .846-.37.5.5 0 0 0-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 1 0-.707-.708L8.991 7.853 1.413.573a.5.5 0 1 0-.693.72l7.563 7.268z"></path></svg>

    </button>

    <div class="product-media-modal__content color-scheme-1 gradient" role="document" aria-label="Media gallery" tabindex="0">
<img class="global-media-settings global-media-settings--no-shadow" srcset="{{ 'IMG_3661_23.jpg' | asset_url }} 550w, {{ 'IMG_3661_10.jpg' | asset_url }} 1100w, {{ 'IMG_3661_2.jpg' | asset_url }} 1445w, {{ 'IMG_3661_17.jpg' | asset_url }} 1680w, {{ 'IMG_3661_24.jpg' | asset_url }} 2048w, {{ 'IMG_3661_18.jpg' | asset_url }} 2200w, {{ 'IMG_3661_25.jpg' | asset_url }} 2890w, {{ 'IMG_3661_26.jpg' | asset_url }} 4096w, {{ 'IMG_3661_6.jpg' | asset_url }} 4096w" sizes="(min-width: 750px) calc(100vw - 22rem), 1100px" src="{{ 'IMG_3661_2.jpg' | asset_url }}" alt="Custom Led Door Lights (2pcs)" loading="lazy" width="1100" height="1100" data-media-id="65964201476474">
<img class="global-media-settings global-media-settings--no-shadow" srcset="{{ 'IMG_3521_25.webp' | asset_url }} 550w, {{ 'IMG_3521_24.webp' | asset_url }} 720w" sizes="(min-width: 750px) calc(100vw - 22rem), 1100px" src="{{ 'IMG_3521_3.webp' | asset_url }}" alt="Custom Led Door Lights (2pcs)" loading="lazy" width="1100" height="1100" data-media-id="65878185640314">
<img class="global-media-settings global-media-settings--no-shadow" srcset="{{ 'IMG_3505_11.jpg' | asset_url }} 550w, {{ 'IMG_3505_17.jpg' | asset_url }} 1100w, {{ 'IMG_3505_21.jpg' | asset_url }} 1169w" sizes="(min-width: 750px) calc(100vw - 22rem), 1100px" src="{{ 'IMG_3505_2.jpg' | asset_url }}" alt="Custom Led Door Lights (2pcs)" loading="lazy" width="1100" height="1100" data-media-id="65878272541050">
<img class="global-media-settings global-media-settings--no-shadow" srcset="{{ 'IMG_3503_18.jpg' | asset_url }} 550w, {{ 'IMG_3503_15.jpg' | asset_url }} 1100w, {{ 'IMG_3503_16.jpg' | asset_url }} 1170w" sizes="(min-width: 750px) calc(100vw - 22rem), 1100px" src="{{ 'IMG_3503_2.jpg' | asset_url }}" alt="Custom Led Door Lights (2pcs)" loading="lazy" width="1100" height="1100" data-media-id="65878272409978"></div>
  </div>
</product-modal>


    
<script src="{{ 'product-modal.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'media-gallery.js' | asset_url }}" defer="defer"></script><script type="application/ld+json">
      {'@context':'http:\/\/schema.org\/','@id':'\/products\/custom#product','@type':'Product','brand':{'@type':'Brand','name':'Holy Drive'},'category':'Religious Items','description':'*Set of 2pcs (Front Doors)','image':'https:\/\/www.myholydrive.com\/cdn\/shop\/files\/IMG_3661.jpg?v=1747870426\u0026width=1920','name':'Custom Led Door Lights (2pcs)','offers':{'@id':'\/products\/custom?variant=55411226673530#offer','@type':'Offer','availability':'http:\/\/schema.org\/InStock','price':'42.95','priceCurrency':'EUR','url':'https:\/\/www.myholydrive.com\/products\/custom?variant=55411226673530'},'url':'https:\/\/www.myholydrive.com\/products\/custom'}
    </script>
  </div>
</product-info>


<style> #shopify-section-template--25556771209594__main .product-form__submit {font-weight: 700; text-trasnform: uppercase;} </style></section><div id="shopify-section-template--25556771209594__image_with_text_LijNwR" class="shopify-section section"><link href="{{ 'component-image-with-text.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">
<style data-shopify="">.section-template--25556771209594__image_with_text_LijNwR-padding {
    padding-top: 27px;
    padding-bottom: 6px;
  }

  @media screen and (min-width: 750px) {
    .section-template--25556771209594__image_with_text_LijNwR-padding {
      padding-top: 36px;
      padding-bottom: 8px;
    }
  }</style><div class="section-template--25556771209594__image_with_text_LijNwR-padding gradient color-scheme-1">
  <div class="page-width">
    <div class="image-with-text image-with-text--no-overlap isolate scroll-trigger animate--slide-in">
      <div class="image-with-text__grid grid grid--gapless grid--1-col grid--2-col-tablet">
        <div class="image-with-text__media-item image-with-text__media-item--medium image-with-text__media-item--top grid__item">
          <div class="image-with-text__media image-with-text__media--adapt global-media-settings background-transparent media" style="padding-bottom: 100.0%;"><img src="{{ 'IMG_3524.webp' | asset_url }}" alt="" srcset="{{ 'IMG_3524_5.webp' | asset_url }} 165w, {{ 'IMG_3524_3.webp' | asset_url }} 360w, {{ 'IMG_3524_1.webp' | asset_url }} 535w, {{ 'IMG_3524_2.webp' | asset_url }} 750w, {{ 'IMG_3524_4.webp' | asset_url }} 1070w, {{ 'IMG_3524.webp' | asset_url }} 1500w" width="1500" height="1500" sizes="(min-width: 1200px) 550px,
              (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" fetchpriority="auto">
</div>
        </div>
        <div class="image-with-text__text-item grid__item">
          <div id="ImageWithText--template--25556771209594__image_with_text_LijNwR" class="image-with-text__content image-with-text__content--top image-with-text__content--desktop-left image-with-text__content--mobile-left image-with-text__content--adapt content-container background-transparent"><h2 class="image-with-text__heading inline-richtext h1">
                    <strong>Easy to install</strong>
                  </h2><div class="image-with-text__text rte body">
                    <p><strong>Sets up in seconds with a strong magnetic base and universal fit for nearly any car</strong></p>
                  </div></div>
        </div>
      </div>
    </div>
  </div>
</div>


</div><div id="shopify-section-template--25556771209594__image_with_text_PtDJ8C" class="shopify-section section"><link href="{{ 'component-image-with-text.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">
<style data-shopify="">.section-template--25556771209594__image_with_text_PtDJ8C-padding {
    padding-top: 3px;
    padding-bottom: 15px;
  }

  @media screen and (min-width: 750px) {
    .section-template--25556771209594__image_with_text_PtDJ8C-padding {
      padding-top: 4px;
      padding-bottom: 20px;
    }
  }</style><div class="section-template--25556771209594__image_with_text_PtDJ8C-padding gradient color-scheme-1">
  <div class="page-width">
    <div class="image-with-text image-with-text--no-overlap isolate scroll-trigger animate--slide-in">
      <div class="image-with-text__grid grid grid--gapless grid--1-col grid--2-col-tablet">
        <div class="image-with-text__media-item image-with-text__media-item--medium image-with-text__media-item--top grid__item">
          <div class="image-with-text__media image-with-text__media--adapt global-media-settings background-transparent media" style="padding-bottom: 100.0%;"><img src="{{ 'IMG_3521_1.webp' | asset_url }}" alt="" srcset="images/IMG_3521_16.webp 165w, images/IMG_3521_9.webp 360w, images/IMG_3521_10.webp 535w, images/IMG_3521_12.webp 750w, images/IMG_3521_11.webp 1070w, images/IMG_3521_1.webp 1500w" width="1500" height="1500" sizes="(min-width: 1200px) 550px,
              (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" fetchpriority="auto">
</div>
        </div>
        <div class="image-with-text__text-item grid__item">
          <div id="ImageWithText--template--25556771209594__image_with_text_PtDJ8C" class="image-with-text__content image-with-text__content--top image-with-text__content--desktop-left image-with-text__content--mobile-left image-with-text__content--adapt content-container background-transparent"><h2 class="image-with-text__heading inline-richtext h1">
                    <strong>Multiple Colors</strong>
                  </h2><div class="image-with-text__text rte body">
                    <p><strong>One verse, many vibes. Switch between colors and lighting modes anytime you want.</strong></p>
                  </div></div>
        </div>
      </div>
    </div>
  </div>
</div>


</div><section id="shopify-section-template--25556771209594__multicolumn_RwkwED" class="shopify-section section"><link href="{{ 'section-multicolumn.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">
<link href="{{ 'component-slider.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">
<style data-shopify="">.section-template--25556771209594__multicolumn_RwkwED-padding {
    padding-top: 0px;
    padding-bottom: 27px;
  }

  @media screen and (min-width: 750px) {
    .section-template--25556771209594__multicolumn_RwkwED-padding {
      padding-top: 0px;
      padding-bottom: 36px;
    }
  }</style><div class="multicolumn color-scheme-1 gradient background-primary">
  <div class="page-width section-template--25556771209594__multicolumn_RwkwED-padding isolate scroll-trigger animate--slide-in" data-cascade=""><div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin multicolumn__title">
        <h2 class="title inline-richtext h1">
          <strong>What our clients say</strong>
        </h2></div><slider-component class="slider-mobile-gutter">
      <ul class="multicolumn-list contains-content-container grid grid--1-col-tablet-down grid--3-col-desktop slider slider--tablet grid--peek" id="Slider-template--25556771209594__multicolumn_RwkwED" role="list"><li id="Slide-template--25556771209594__multicolumn_RwkwED-1" class="multicolumn-list__item grid__item slider__slide scroll-trigger animate--slide-in" data-cascade="" style="--animation-order: 1;">
            <div class="multicolumn-card content-container"><div class="multicolumn-card__info"><h3 class="inline-richtext">Olivia J.</h3><div class="rte"><p>"I got this for my husband because he does a lot of long trips. He really loved it and said it feels like a little protection for him on the road. He put it on super fast with the magnetic band, no drama!"</p></div><a class="link animate-arrow" role="link" aria-disabled="true"><span class="svg-wrapper"><span class="icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" fill="none" class="icon icon-arrow" viewBox="0 0 14 10"><path fill="currentColor" fill-rule="evenodd" d="M8.537.808a.5.5 0 0 1 .817-.162l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 1 1-.708-.708L11.793 5.5H1a.5.5 0 0 1 0-1h10.793L8.646 1.354a.5.5 0 0 1-.109-.546" clip-rule="evenodd"></path></svg>
</span></span>
                  </a></div>
            </div>
          </li><li id="Slide-template--25556771209594__multicolumn_RwkwED-2" class="multicolumn-list__item grid__item slider__slide scroll-trigger animate--slide-in" data-cascade="" style="--animation-order: 2;">
            <div class="multicolumn-card content-container"><div class="multicolumn-card__info"><h3 class="inline-richtext">Emily R.</h3><div class="rte"><p>"Setting this up was so easy. The battery lasts a good while too, which is awesome. I just wanted something simple to remind me of faith when Im driving, and this totally does that!"</p></div><a class="link animate-arrow" role="link" aria-disabled="true"><span class="svg-wrapper"><span class="icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" fill="none" class="icon icon-arrow" viewBox="0 0 14 10"><path fill="currentColor" fill-rule="evenodd" d="M8.537.808a.5.5 0 0 1 .817-.162l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 1 1-.708-.708L11.793 5.5H1a.5.5 0 0 1 0-1h10.793L8.646 1.354a.5.5 0 0 1-.109-.546" clip-rule="evenodd"></path></svg>
</span></span>
                  </a></div>
            </div>
          </li><li id="Slide-template--25556771209594__multicolumn_RwkwED-3" class="multicolumn-list__item grid__item slider__slide scroll-trigger animate--slide-in" data-cascade="" style="--animation-order: 3;">
            <div class="multicolumn-card content-container"><div class="multicolumn-card__info"><h3 class="inline-richtext">Joshua R.</h3><div class="rte"><p>"Honestly, this makes my car look way cooler. I love how the Bible verse glows at night. And no wires? So good. Just stick it and forget it."</p></div><a class="link animate-arrow" role="link" aria-disabled="true"><span class="svg-wrapper"><span class="icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" fill="none" class="icon icon-arrow" viewBox="0 0 14 10"><path fill="currentColor" fill-rule="evenodd" d="M8.537.808a.5.5 0 0 1 .817-.162l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 1 1-.708-.708L11.793 5.5H1a.5.5 0 0 1 0-1h10.793L8.646 1.354a.5.5 0 0 1-.109-.546" clip-rule="evenodd"></path></svg>
</span></span>
                  </a></div>
            </div>
          </li><li id="Slide-template--25556771209594__multicolumn_RwkwED-4" class="multicolumn-list__item grid__item slider__slide scroll-trigger animate--slide-in" data-cascade="" style="--animation-order: 4;">
            <div class="multicolumn-card content-container"><div class="multicolumn-card__info"><h3 class="inline-richtext">Madison K.</h3><div class="rte"><p>"I used this LED light during a road trip and honestly, it made my car feel like a little sanctuary. Its not just about faith, its about peace of mind while driving for hours"</p></div><a class="link animate-arrow" role="link" aria-disabled="true"><span class="svg-wrapper"><span class="icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" fill="none" class="icon icon-arrow" viewBox="0 0 14 10"><path fill="currentColor" fill-rule="evenodd" d="M8.537.808a.5.5 0 0 1 .817-.162l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 1 1-.708-.708L11.793 5.5H1a.5.5 0 0 1 0-1h10.793L8.646 1.354a.5.5 0 0 1-.109-.546" clip-rule="evenodd"></path></svg>
</span></span>
                  </a></div>
            </div>
          </li><li id="Slide-template--25556771209594__multicolumn_RwkwED-5" class="multicolumn-list__item grid__item slider__slide scroll-trigger animate--slide-in" data-cascade="" style="--animation-order: 5;">
            <div class="multicolumn-card content-container"><div class="multicolumn-card__info"><h3 class="inline-richtext">Chloe L.</h3><div class="rte"><p>"My kids thought this was the coolest thing ever, they love the colors and keep asking me to change them! Its like a fun family vibe in the car now."</p></div><a class="link animate-arrow" role="link" aria-disabled="true"><span class="svg-wrapper"><span class="icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" fill="none" class="icon icon-arrow" viewBox="0 0 14 10"><path fill="currentColor" fill-rule="evenodd" d="M8.537.808a.5.5 0 0 1 .817-.162l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 1 1-.708-.708L11.793 5.5H1a.5.5 0 0 1 0-1h10.793L8.646 1.354a.5.5 0 0 1-.109-.546" clip-rule="evenodd"></path></svg>
</span></span>
                  </a></div>
            </div>
          </li><li id="Slide-template--25556771209594__multicolumn_RwkwED-6" class="multicolumn-list__item grid__item slider__slide scroll-trigger animate--slide-in" data-cascade="" style="--animation-order: 6;">
            <div class="multicolumn-card content-container"><div class="multicolumn-card__info"><h3 class="inline-richtext">Dylan T.</h3><div class="rte"><p>"I bought this for my friend's new car as a surprise, and she was thrilled! She said it adds a special touch and reminds her to stay positive on every drive."</p></div><a class="link animate-arrow" role="link" aria-disabled="true"><span class="svg-wrapper"><span class="icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" fill="none" class="icon icon-arrow" viewBox="0 0 14 10"><path fill="currentColor" fill-rule="evenodd" d="M8.537.808a.5.5 0 0 1 .817-.162l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 1 1-.708-.708L11.793 5.5H1a.5.5 0 0 1 0-1h10.793L8.646 1.354a.5.5 0 0 1-.109-.546" clip-rule="evenodd"></path></svg>
</span></span>
                  </a></div>
            </div>
          </li></ul><div class="slider-buttons large-up-hide">
          <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="Slide left">
            <span class="svg-wrapper"><svg class="icon icon-caret" viewBox="0 0 10 6"><path fill="currentColor" fill-rule="evenodd" d="M9.354.646a.5.5 0 0 0-.708 0L5 4.293 1.354.646a.5.5 0 0 0-.708.708l4 4a.5.5 0 0 0 .708 0l4-4a.5.5 0 0 0 0-.708" clip-rule="evenodd"></path></svg>
</span>
          </button>
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">of</span>
            <span class="slider-counter--total">6</span>
          </div>
          <button type="button" class="slider-button slider-button--next" name="next" aria-label="Slide right">
            <span class="svg-wrapper"><svg class="icon icon-caret" viewBox="0 0 10 6"><path fill="currentColor" fill-rule="evenodd" d="M9.354.646a.5.5 0 0 0-.708 0L5 4.293 1.354.646a.5.5 0 0 0-.708.708l4 4a.5.5 0 0 0 .708 0l4-4a.5.5 0 0 0 0-.708" clip-rule="evenodd"></path></svg>
</span>
          </button>
        </div></slider-component>
    <div class="center small-hide medium-hide"></div>
  </div>
</div>


<style> #shopify-section-template--25556771209594__multicolumn_RwkwED .multicolumn-card__image-wrapper .media {padding: 35px 0 !important;} #shopify-section-template--25556771209594__multicolumn_RwkwED .multicolumn-card__image-wrapper .media img {border-radius: 100%; max-height: 75px; right: 0; left: 0; margin: auto;} #shopify-section-template--25556771209594__multicolumn_RwkwED .multicolumn-card {background: #ffffff8f !important; box-shadow: rgba(112, 144, 176, 0.08) 14px 17px 40px 4px;} #shopify-section-template--25556771209594__multicolumn_RwkwED .multicolumn-card__info h3 {font-weight: 700;} #shopify-section-template--25556771209594__multicolumn_RwkwED .multicolumn-card__info {text-align: center;} #shopify-section-template--25556771209594__multicolumn_RwkwED .multicolumn-card__info a.link span {display: none;} #shopify-section-template--25556771209594__multicolumn_RwkwED h2.title {margin: auto;} </style></section><section id="shopify-section-template--25556771209594__rich_text_EGHyaM" class="shopify-section section"><link href="{{ 'section-rich-text.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">
<style data-shopify="">.section-template--25556771209594__rich_text_EGHyaM-padding {
    padding-top: 30px;
    padding-bottom: 39px;
  }

  @media screen and (min-width: 750px) {
    .section-template--25556771209594__rich_text_EGHyaM-padding {
      padding-top: 40px;
      padding-bottom: 52px;
    }
  }</style><div class="isolate">
  <div class="rich-text content-container color-scheme-1 gradient rich-text--full-width content-container--full-width section-template--25556771209594__rich_text_EGHyaM-padding">
    <div class="rich-text__wrapper rich-text__wrapper--center page-width">
      <div class="rich-text__blocks center"><h2 class="rich-text__heading rte inline-richtext h1 scroll-trigger animate--slide-in" data-cascade="" style="--animation-order: 1;">
                <strong>Order Today with a 30-Day Money-Back Guarantee</strong>
              </h2><div class="rich-text__text rte scroll-trigger animate--slide-in" data-cascade="" style="--animation-order: 2;">
                <p>Were confident youll love your Holy Drive LED Lights. But if theyre not quite what you expected, you can return them within 14 days of delivery and get your money back  no questions asked.</p>
              </div><div class="rich-text__buttons scroll-trigger animate--slide-in" data-cascade="" style="--animation-order: 3;"><a href="https://www.myholydrive.com/products/custom" class="button button--primary">Get Mine Now</a></div></div>
    </div>
  </div>
</div>


</section><section id="shopify-section-template--25556771209594__1747502154acb4d2d6" class="shopify-section section"><div class="page-width scroll-trigger animate--slide-in"><div id="shopify-block-AdnpHdTg2VjcwemZie__judge_me_reviews_review_widget_ETxqcU" class="shopify-block shopify-app-block">


<div style="clear:both"></div>
<div id="judgeme_product_reviews" class="jdgm-widget jdgm-review-widget" data-product-title="Custom Led Door Lights (2pcs)" data-id="15113031942522" data-product-id="15113031942522" data-widget="review" data-shop-reviews="false" data-shop-reviews-count="0" data-empty-state="empty_widget" data-entry-point="review_widget.js" data-entry-key="review-widget/main.js" data-block-id="AdnpHdTg2VjcwemZie__judge_me_reviews_review_widget_ETxqcU" style="max-width: 1200px; margin: 0 auto;">

  
    
      <div class="jdgm-legacy-widget-content" style="display: none;">
        <div class="jdgm-rev-widg" data-updated-at="2025-12-24T19:00:03Z" data-average-rating="4.85" data-number-of-reviews="117" data-number-of-questions="0" data-image-url="https://cdn.shopify.com/s/files/1/0915/6807/9226/files/IMG_3661.jpg?v=1747870426"> <style class="jdgm-temp-hiding-style">.jdgm-rev-widg{ display: none }</style> <div class="jdgm-rev-widg__header"> <h2 class="jdgm-rev-widg__title">Customer Reviews</h2>  <div class="jdgm-rev-widg__summary"> <div class="jdgm-rev-widg__summary-stars" aria-label="Average rating is 4.85 stars" role="img"> <span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span> </div> <div class="jdgm-rev-widg__summary-text">Based on 117 reviews</div> </div> <a style="display: none" href="#" class="jdgm-write-rev-link" role="button">Write a review</a> <div class="jdgm-histogram jdgm-temp-hidden">  <div class="jdgm-histogram__row" data-rating="5" data-frequency="102" data-percentage="87">  <div class="jdgm-histogram__star" role="button" aria-label="87% (102) reviews with 5 star rating" tabindex="0"><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span></div> <div class="jdgm-histogram__bar"> <div class="jdgm-histogram__bar-content" style="width: 87%;"> </div> </div> <div class="jdgm-histogram__percentage">87%</div> <div class="jdgm-histogram__frequency">(102)</div> </div>  <div class="jdgm-histogram__row" data-rating="4" data-frequency="13" data-percentage="11">  <div class="jdgm-histogram__star" role="button" aria-label="11% (13) reviews with 4 star rating" tabindex="0"><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--off"></span></div> <div class="jdgm-histogram__bar"> <div class="jdgm-histogram__bar-content" style="width: 11%;"> </div> </div> <div class="jdgm-histogram__percentage">11%</div> <div class="jdgm-histogram__frequency">(13)</div> </div>  <div class="jdgm-histogram__row" data-rating="3" data-frequency="2" data-percentage="2">  <div class="jdgm-histogram__star" role="button" aria-label="2% (2) reviews with 3 star rating" tabindex="0"><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--off"></span><span class="jdgm-star jdgm--off"></span></div> <div class="jdgm-histogram__bar"> <div class="jdgm-histogram__bar-content" style="width: 2%;"> </div> </div> <div class="jdgm-histogram__percentage">2%</div> <div class="jdgm-histogram__frequency">(2)</div> </div>  <div class="jdgm-histogram__row" data-rating="2" data-frequency="0" data-percentage="0">  <div class="jdgm-histogram__star" role="button" aria-label="0% (0) reviews with 2 star rating" tabindex="0"><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--off"></span><span class="jdgm-star jdgm--off"></span><span class="jdgm-star jdgm--off"></span></div> <div class="jdgm-histogram__bar"> <div class="jdgm-histogram__bar-content" style="width: 0%;"> </div> </div> <div class="jdgm-histogram__percentage">0%</div> <div class="jdgm-histogram__frequency">(0)</div> </div>  <div class="jdgm-histogram__row" data-rating="1" data-frequency="0" data-percentage="0">  <div class="jdgm-histogram__star" role="button" aria-label="0% (0) reviews with 1 star rating" tabindex="0"><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--off"></span><span class="jdgm-star jdgm--off"></span><span class="jdgm-star jdgm--off"></span><span class="jdgm-star jdgm--off"></span></div> <div class="jdgm-histogram__bar"> <div class="jdgm-histogram__bar-content" style="width: 0%;"> </div> </div> <div class="jdgm-histogram__percentage">0%</div> <div class="jdgm-histogram__frequency">(0)</div> </div>  <div class="jdgm-histogram__row jdgm-histogram__clear-filter" data-rating="null" tabindex="0"></div> </div>     <div class="jdgm-rev-widg__sort-wrapper"></div> </div> <div class="jdgm-rev-widg__body">  <div class="jdgm-rev-widg__reviews"><div class="jdgm-rev jdgm-divider-top" data-verified-buyer="true" data-review-id="16e2f6dd-c43b-4441-a5c7-efb415846074" data-review-language="" data-product-title="Custom Led Door Lights (2pcs)" data-product-url="/products/custom" data-thumb-up-count="0" data-thumb-down-count="0"> <div class="jdgm-rev__header">  <div class="jdgm-rev__icon"> F </div>  <span class="jdgm-rev__rating" data-score="5" tabindex="0" aria-label="5 star review" role="img"> <span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span> </span> <span class="jdgm-rev__timestamp jdgm-spinner" data-content="2025-10-21 07:41:22 UTC"></span>    <div class="jdgm-rev__br"></div> <span class="jdgm-rev__buyer-badge-wrapper"> <span class="jdgm-rev__buyer-badge"></span> </span> <span class="jdgm-rev__author-wrapper"> <span class="jdgm-rev__author">Faith</span> <span class="jdgm-rev__location">  </span>  </span> </div> <div class="jdgm-rev__content">  <div class="jdgm-rev__custom-form">  </div> <b class="jdgm-rev__title">In en uit de auto stappen met een bemoediging dat kracht geeft en leeft</b> <div class="jdgm-rev__body"><p>Ik moest even wachten tot ik mijn bestelling had ontvangen, maar het was het wachten waard. De verlichting past echt goed bij mijn auto, ik ben er blij mee. Ook worden andere mensen nieuwsgierig en vragen naar de inhoud van de tekst en is dus mooi om zo gelijk het evangelie te verkondigen.</p></div> <div class="jdgm-rev__pics">  </div> <div class="jdgm-rev__vids">   </div> <div class="jdgm-rev__transparency-badge-wrapper">  </div> </div> <div class="jdgm-rev__actions"> <div class="jdgm-rev__social"></div> <div class="jdgm-rev__votes"></div> </div> <div class="jdgm-rev__reply">  </div> </div><div class="jdgm-rev jdgm-divider-top" data-verified-buyer="true" data-review-id="3b4bd119-7dba-4a4a-a5ad-c60f66bcaa66" data-review-language="" data-product-title="Custom Led Door Lights (2pcs)" data-product-url="/products/custom" data-thumb-up-count="0" data-thumb-down-count="0"> <div class="jdgm-rev__header">  <div class="jdgm-rev__icon"> s </div>  <span class="jdgm-rev__rating" data-score="5" tabindex="0" aria-label="5 star review" role="img"> <span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span> </span> <span class="jdgm-rev__timestamp jdgm-spinner" data-content="2025-09-18 17:17:36 UTC"></span>    <div class="jdgm-rev__br"></div> <span class="jdgm-rev__buyer-badge-wrapper"> <span class="jdgm-rev__buyer-badge"></span> </span> <span class="jdgm-rev__author-wrapper"> <span class="jdgm-rev__author">stefan MacDonald-Brown</span> <span class="jdgm-rev__location">  </span>  </span> </div> <div class="jdgm-rev__content">  <div class="jdgm-rev__custom-form">  </div> <b class="jdgm-rev__title">Just a lovely thing to</b> <div class="jdgm-rev__body"><p>Just a lovely thing to have!</p></div> <div class="jdgm-rev__pics">  </div> <div class="jdgm-rev__vids">   </div> <div class="jdgm-rev__transparency-badge-wrapper">  </div> </div> <div class="jdgm-rev__actions"> <div class="jdgm-rev__social"></div> <div class="jdgm-rev__votes"></div> </div> <div class="jdgm-rev__reply">  </div> </div><div class="jdgm-rev jdgm-divider-top" data-verified-buyer="true" data-review-id="f259ec10-994f-4c9b-9b91-14e43d042ada" data-review-language="" data-product-title="Custom Led Door Lights (2pcs)" data-product-url="/products/custom" data-thumb-up-count="0" data-thumb-down-count="0"> <div class="jdgm-rev__header">  <div class="jdgm-rev__icon"> S </div>  <span class="jdgm-rev__rating" data-score="5" tabindex="0" aria-label="5 star review" role="img"> <span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span> </span> <span class="jdgm-rev__timestamp jdgm-spinner" data-content="2025-09-04 14:07:17 UTC"></span>    <div class="jdgm-rev__br"></div> <span class="jdgm-rev__buyer-badge-wrapper"> <span class="jdgm-rev__buyer-badge"></span> </span> <span class="jdgm-rev__author-wrapper"> <span class="jdgm-rev__author">Sinead</span> <span class="jdgm-rev__location">  </span>  </span> </div> <div class="jdgm-rev__content">  <div class="jdgm-rev__custom-form">  </div> <b class="jdgm-rev__title">Highly recommended</b> <div class="jdgm-rev__body"><p>The quality of the item is stunning and the colours are perfect. Highly recommended as a feature to jazz up your car</p></div> <div class="jdgm-rev__pics">  </div> <div class="jdgm-rev__vids">   </div> <div class="jdgm-rev__transparency-badge-wrapper">  </div> </div> <div class="jdgm-rev__actions"> <div class="jdgm-rev__social"></div> <div class="jdgm-rev__votes"></div> </div> <div class="jdgm-rev__reply">  </div> </div><div class="jdgm-rev jdgm-divider-top" data-verified-buyer="false" data-review-id="8ea89d88-8a96-468d-ae1d-18eb86f1952f" data-review-language="" data-product-title="Custom Led Door Lights (2pcs)" data-product-url="/products/custom" data-thumb-up-count="0" data-thumb-down-count="0"> <div class="jdgm-rev__header">  <div class="jdgm-rev__icon"> V </div>  <span class="jdgm-rev__rating" data-score="5" tabindex="0" aria-label="5 star review" role="img"> <span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span> </span> <span class="jdgm-rev__timestamp jdgm-spinner" data-content="2025-09-01 00:00:00 UTC"></span>    <div class="jdgm-rev__br"></div> <span class="jdgm-rev__buyer-badge-wrapper">  </span> <span class="jdgm-rev__author-wrapper"> <span class="jdgm-rev__author">Virginia Stephens</span> <span class="jdgm-rev__location">  </span>  </span> </div> <div class="jdgm-rev__content">  <div class="jdgm-rev__custom-form">  </div> <b class="jdgm-rev__title">Protection you can feel and see</b> <div class="jdgm-rev__body"><p>Looks amazing and gives off such good energy.</p></div> <div class="jdgm-rev__pics">  <a class="jdgm-rev__pic-link jdgm--loading" target="_blank" rel="nofollow" href="https://s3.amazonaws.com/me.judge.review-images/holy-drive/1748449402__huge__original.jpeg" data-mfp-src="https://s3.amazonaws.com/me.judge.review-images/holy-drive/1748449402__huge__huge.jpeg" aria-label="Link to user picture 1"> <img class="jdgm-rev__pic-img" alt="User picture" data-src="https://s3.amazonaws.com/me.judge.review-images/holy-drive/1748449402__huge__compact.jpeg"> </a>  </div> <div class="jdgm-rev__vids">   </div> <div class="jdgm-rev__transparency-badge-wrapper">  </div> </div> <div class="jdgm-rev__actions"> <div class="jdgm-rev__social"></div> <div class="jdgm-rev__votes"></div> </div> <div class="jdgm-rev__reply">  </div> </div><div class="jdgm-rev jdgm-divider-top" data-verified-buyer="false" data-review-id="8d2281ca-b030-47a5-a293-bec58e07399b" data-review-language="" data-product-title="Custom Led Door Lights (2pcs)" data-product-url="/products/custom" data-thumb-up-count="0" data-thumb-down-count="0"> <div class="jdgm-rev__header">  <div class="jdgm-rev__icon"> J </div>  <span class="jdgm-rev__rating" data-score="5" tabindex="0" aria-label="5 star review" role="img"> <span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span> </span> <span class="jdgm-rev__timestamp jdgm-spinner" data-content="2025-08-31 00:00:00 UTC"></span>    <div class="jdgm-rev__br"></div> <span class="jdgm-rev__buyer-badge-wrapper">  </span> <span class="jdgm-rev__author-wrapper"> <span class="jdgm-rev__author">Jose Peterson</span> <span class="jdgm-rev__location">  </span>  </span> </div> <div class="jdgm-rev__content">  <div class="jdgm-rev__custom-form">  </div> <b class="jdgm-rev__title">Gives me peace every trip</b> <div class="jdgm-rev__body"><p>I wasnt expecting to love it this much!</p></div> <div class="jdgm-rev__pics">  </div> <div class="jdgm-rev__vids">   </div> <div class="jdgm-rev__transparency-badge-wrapper">  </div> </div> <div class="jdgm-rev__actions"> <div class="jdgm-rev__social"></div> <div class="jdgm-rev__votes"></div> </div> <div class="jdgm-rev__reply">  </div> </div></div> <div class="jdgm-paginate" data-per-page="5" data-url="https://api.judge.me/reviews/reviews_for_widget"><a class="jdgm-paginate__page jdgm-curt" data-page="1" aria-label="Page 1" tabindex="0" role="button">1</a><a class="jdgm-paginate__page " data-page="2" aria-label="Page 2" tabindex="0" role="button">2</a><a class="jdgm-paginate__page " data-page="3" aria-label="Page 3" tabindex="0" role="button">3</a><a class="jdgm-paginate__page jdgm-paginate__next-page" data-page="2" aria-label="Page 2" tabindex="0" rel="next" role="button"></a><a class="jdgm-paginate__page jdgm-paginate__last-page" data-page="24" aria-label="Page 24" tabindex="0" role="button"></a></div>  </div> <div class="jdgm-rev-widg__paginate-spinner-wrapper"> <div class="jdgm-spinner"></div> </div> </div>
      </div>
    
  

  
</div>




</div>
</div>


</section>

